@import "tailwindcss";

:root {
  --primary-color: #012d62;
  --secondary-color: #fdbb30;
  --background-color: #fff;
  --text-color: #031a36;
  --text-color-secondary: #906200;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.page-content-wrapper {
  background-color: #e3e3e3;

}

.page-content {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: calc(100vh - 100px);
}